<template>
<div class="container footer-bottom">
      <!-- Footer -->
    <footer class="page-footer font-small blue">
   
  <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
         <a href="https://mdbootstrap.com/education/bootstrap/"> Mbanq.com</a>
    </div>
  <!-- Copyright -->

     </footer>
<!-- Footer -->
</div>
</template>
<script>
export default {
    
}
</script>
<style>

</style>


