<template>
      <div>
         <navbar></navbar>
         <div class="card">
         <div class="card-body">
         <div class="form-group"> 
              <p><b>"{{title}}"</b></p>
            <div class="form-inline">
            <br>
            <br>
            </div> 
              <div class="form-group">
                    <table class="table table-bordered table-striped">
                          <thead>
                                <th>ID</th>
                                <th>name</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Account Type</th>
                                <th>Action</th>
                          </thead>
                          <tbody>
                            <tr v-for="staff in staffs" :key="staff">
                                <td>{{staff.ID}}</td>
                                <td>{{staff.name}}</td>
                                <td>{{staff.email}}</td>
                                <td>{{staff.Password}}</td>
                                <td>{{staff.phone}}</td>
                                <td>{{staff.Address}}</td>
                                <td>{{staff.Accont_Type}}</td>
                                <td> 
                                      <span>
                                            <button @click="edit(item, index)" class="btn btn-sm btn-outline-secondary mr-2">Edit</button>
                                            <button @click="remove(item, index)" class="btn btn-sm btn-outline-secondary mr-2">Remove</button>
                                      </span>
                                </td>
                            </tr>
                          </tbody>
                    </table>   
              </div>
              <div class="form-group">
              <div class="row">
                    <div class="col-sm-2">
                       <button class="btn btn-primary" @click="add">Add</button>
                    </div>
              </div>
              </div>
              <div class="card-footer" id="footer">
                    <nav aria-label="pagination-content-end">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>              
              </div>
        </div>
        </div>
        </div>
      </div>
</template>
<script>
import navbar from './navbar.vue'
export default {
      components:{
            navbar
      },
     data(){
         return{
            title:"List User",
            staffs: [
                    {ID:'1', name: 'Ko Rachhan', email: 'korachhan34@gmail.com',Password:'afljja', phone: '010486658',Address:'Siem Reap',Accont_Type:'Special'},
                    {ID:'2', name: 'Pich Nimol', email: 'nimol34@gmail.com',Password:'afljja', phone: '020486658',Address:'Prech Vihear',Accont_Type:'Special'},
                ],
            editdata:null,
            originData:null
         }
     },
     methods:{
           add(){
                  this.originData=null;
                  this.staffs.push({ID:'',name:'',email:'',Password:'',phone:'',Address:'',Accont_Type:''})
                  this.editdata=this.staffs.length;
           },
           edit(item,index){
                  this.originData=Object.assign({},item)
                  this.editdata=index;
           },
           remove(item,index){
                 this.staffs.splice(index,1)

           }
     }
    
}

</script>
<style scope>
      .card-footer{
             margin-bottom: 0px;
      }
      p{
            color: blue;
            font-size: 100%;
            
      }
</style>


