<template>
<div class="container">
<div class="d-flex justify-content-center h-100">
      <div class="card">
      <div class="card-header">
            <p><b>{{title}}</b></p>
       </div>
         <div class="card-body">
                 <form>
                           <div class="input-group form-group">
                              <input v-model="email" type="text" class="form-control" placeholder="Email" v-validate="'required'" name="Myinput"> 
                              <span>{{ errors.first('myinput') }}</span>
					            </div>
                           <div class="input-group form-group">
                                 <input v-model="password" type="password" class="form-control" placeholder="Password" required>
                           </div>  
                           <div class="form-group">
                                 <button class="btn float-right btn-primary" v-on:click="bntlogin">login</button>
                                 <button class="btn btn-success" v-on:click="submit" hidden>register</button>
                           </div>       
                 </form>  
        </div>
      </div>
   </div>
   </div>
</template>
<script>

import axios from 'axios'
export default {
     data(){
       return{
           title:'Mbanq',
           email:'',
           password:''
        }
      
     },
     methods:{
        //method to login user
       bntlogin(){
          const body = {
                 email:this.email,
                 password:this.password
                 };
               	axios({
            	method: "POST",
            	url: "http://192.168.2.82:8888/api/Users/login",
               data:body,
            	headers: {
            	        "Content-type": "application/json" //get data format as json
                    }
             })
            .then(r=>{
               var status_code = r.data[0].code;
               if(status_code == 201){
                  console.log(r.data[0].message) 
               }
               else{
                    console.log("ssss",r)
                    $cookies.set('token_key' ,r.data[0].token);
                    console.log($cookies.get('token_key'));
                    console.log("online status",navigator.onLine);
                     let network_msg = null
                      if(navigator.onLine == true){
                          network_msg = "Connected to internet.";
                          this.$router.push({name:"UserRegister"})
                        }else{
                          network_msg = "Unable to connect to internet.";	
                        }
                        this.$toasted.show(network_msg, { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        icon:'Loading',
                        color:'red'
                      });
               }
                   })
         
                .catch(error => 
                {
                    console.log("online status",navigator.onLine);
                     let network_msg = null
                      if(navigator.onLine == true){
                        network_msg = "Connected to internet.";
                        }else{
                        network_msg = "Unable to connect to internet.";	
                        }
                        this.$toasted.show(network_msg, { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        icon:'Loading',
                        color:'red'
                      });
                })
             },
             submit(){
                    this.$router.push({ path: 'UserRegister' })
                    //this.$router.push({name:"UserRegister"})
            }
     },
     mounted(){
             
     },
     updated(){
        
     }
}




</script>
<style scoped>
    .container{
        height: 100%;
   }
     .card{
      height: 350px;
      margin-top:30px;
      margin-bottom: auto;
      width: 400px;
      background-color:white;
     }
</style>

