 <template>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
          <a class="navbar-brand" href="#">
                <img src="../assets/Mbanq.png" alt="logo" style="width:100px;">
            </a>
          <a class="navbar-brand">
              <router-link to="">Home</router-link>
          </a>
          <a class="navbar-brand">
              <router-link to="/Listuser">List</router-link>
          </a>
          <a class="navbar-brand">
              <router-link to="/Stafflist">Staff</router-link>
          </a>
          <a class="navbar-brand">
                  <input type="text" placeholder="Search" class="form-control"/> 
          </a>
          <a class="navbar-brand">
                    <button class="btn btn-primary">Search</button>
          </a>
          <a class="navbar-brand" id="logout">  
             <div class="form-group">
                <button class=" btn btn-sm btn-outline-secondary mr-2">
                    <router-link to="/">Log out</router-link>   
               </button>   
             </div>
          </a>
    </nav>
    </template>
    <script>
    export default {
        
    }
    </script>
    <style scope>
            #logout{
                float: left;
                margin-left: 50%;
            }
    
    </style>
    
    

    
