<template>
        <div>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                             <img src="../assets/angkorwat.jpg" class="d-block w-100" alt="p1" >
                        </div>
                        <div class="carousel-item">
                             <img src="../assets/temple.jpg" class="d-block w-100" alt="p2" >
                        </div>
                        <div class="carousel-item">
                             <img src="../assets/Mbanq.png" class="d-block w-100" alt="p3" >
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    </div>
        </div>
</template>
<script>
export default {
    
}
</script>
<style>
    .d-block w-100{
           width: 100%;
           height:50% ;
           max-height: 300px;
    }
    #carouselExampleControls{
           width: 100%;
           height:50%;
           max-height: 300px;
    }
    .carousel-inner{
        width: 100%;
        height: 50%;
        max-height: 300px;
    }

</style>

