<template>
<div >
  <navbar></navbar>
  <div class="card">
  <div class="card-body"> 
      <h1><b>Staff list </b></h1> 
    <table class="table table-bordered table-striped">
        <thead>
             <th>Name</th>
             <th>Email</th>
             <th>Role</th>
        </thead>
        <tbody>
        <tr v-for="staff in staffs" :key="staff">
            <td>{{staff.name}}</td>
            <td>{{staff.email}}</td>
            <td>{{staff.role}}</td>
        </tr>
        </tbody>
    </table>
     <div class="card-footer">
                    <nav aria-label="pagination-content-end">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>              
              </div>
  </div>
  </div>
</div>
</template>
<script>
import navbar from './navbar.vue'
    export default {
        components:{
            navbar
        },
        name: "StaffListComponent",
        data (){
            return {
                staffs: [
                    {name: 'Ko Rachhan', email: 'korachhan34@gmail.com', role: 'Central Executive Officer'},
                    {name: 'Rebbecca Dan', email: 'rebbecca.dan@acme.org', role: 'Backend Developer'},
                    {name: 'Tope Joshua', email: 'tope.joshua@acme.org', role: 'Financial Analyst'},
                    {name: 'Alima Fatima', email: 'alima.fatima@acme.org', role: 'Deputy CTO'},
                    {name: 'Sikiru Oluwaseun', email: 'sikiru.oluwaseun@acme.org', role: 'Project Manager'},
                    {name: 'Larry Greg', email: 'larry.greg@acme.org', role: 'Senior Developer'},
                    {name: 'Inna Brown', email: 'inna.brown@acme.org', role: 'Community Manager'},
                    {name: 'Tunde Ogundipe', email: 'tunde.ogundipe@acme.org', role: 'Chief Technology Officer'},
                    {name: 'Bald Kuma', email: 'bald.kuma@acme.org', role: 'Human Resource'},
                    {name: 'Ramon Aduragbemi', email: 'ramon.aduragbemi@acme.org', role: 'System Administrator'},
                ]
            }
        }
    }

</script>


<style scoped>
        h1{
            text-align: center;
        }
</style>