<template>
<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
          <a class="navbar-brand" href="#">
                <img src="../assets/Mbanq.png" alt="logo" style="width:100px;">
            </a>
          <a class="navbar-brand">
              <router-link to="">Home</router-link>
          </a>
          <a class="navbar-brand">
              <router-link to="/Listuser">List</router-link>
          </a>
          <a class="navbar-brand">
              <router-link to="/Stafflist">Staff</router-link>
          </a>
          <a class="navbar-brand">
                  <input type="text" placeholder="Search" class="form-control"/> 
          </a>
          <a class="navbar-brand">
                    <button class="btn btn-primary">Search</button>
          </a>
          <a class="navbar-brand" id="logout">  
             <div class="form-group">
                <button class="edit btn btn-sm btn-outline-secondary mr-2" >
                   <router-link to="/">Log out</router-link> 
                </button>
             </div>
          </a>
    </nav>
<div class="container">
  <div class="card">
  <div class="card-header">
   <p>Register</p> 
  </div>
    <div class="card-body">
     <form>
        <div class="form-group row">
             <label for="inputEmail3" class="col-sm-2 col-form-label">ID</label>
          <div class="col-sm-6">
             <input type="text" v-model="mid" class="inputId form-control" id="inputId" placeholder="ID" disabled/>
          </div>
        </div>
        <div class="form-group row">
             <label for="inputPassword3" class="col-sm-2 col-form-label">email</label>
          <div class="col-sm-6">
              <input type="email" v-model="memail" class="form-control" id="inputemail" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
             <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-6">
             <input type="password" v-model="mpassword" class="form-control" id="inputpassword" placeholder="Password">
          </div>
        </div>
        <div class="form-group row">
            <label for="inputphone" class="col-sm-2 col-form-label">Phone</label>
          <div class="col-sm-6">
             <input type="text" v-model="mphone" class="form-control" id="inputphone" placeholder="Phone">
          </div>
        </div>
        <div class="form-group row">
              <label for="inputage" class="col-sm-2 col-form-label">age</label>
          <div class="col-sm-6">
              <input type="text" v-model="mage" class="form-control" id="inputage" placeholder="Age">
          </div>
        </div>
        <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Address</label>
          <div class="col-sm-6">
              <textarea type="text" v-model="maddress" class="form-control" id="inputaddress" placeholder="Address" rows="6"></textarea>
          </div>
        </div>
        <div class="form-group row">
             <label for="inputstatus" class="col-sm-2 col-form-label">status</label>
          <div class="col-sm-6">
            <select class="form-control" v-model="mstatus">
              <option disabled value="">choose one...</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-8">
            <button class="btn btn-primary" @click="btnSave" hidden>Save</button>
            <button class="btn float-right btn-primary" @click="bntAdd">Save</button>
            
          </div>
        </div>
     </form>
    </div>
    <div class="card-footer">
          <p><b>List</b></p>
    </div>
        <div class="table">
            <table class="table table-bordered table-striped" id="table-user">
            <thead class="thead-dark">
                <th >Id</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Age</th>
                <th>address</th>
                <th>status</th>
                <th>Action</th>
            </thead>
            <tbody>
            <tr v-for="staff in getUsers" :key="staff.id">
                <th>{{staff.id}}</th>
                <td>{{staff.email}}</td>
                <td>{{staff.phone}}</td>
                <th>{{staff.age}}</th>
                <th>{{staff.address}}</th>
                <th>{{staff.status==1? 'Active':'Inactive'}}</th>
                <td> 
                      <span>
                          <button @click="edit(staff.id)" class="edit btn btn-sm btn-outline-secondary mr-2">Edit</button>
                          <button @click="remove(staff.id)" class="delete btn btn-sm btn-outline-secondary mr-2">Remove</button>
                      </span>
                </td>
            </tr>
            </tbody>
            </table>
    </div>
  </div>
</div>
</div>
</template>
<script>
import axios from 'axios'
export default {
  data(){
    return{
      mid:null,
      memail:null,
      mpassword:null,
      mphone:null,
      mage:null,
      maddress:null,
      mstatus:"",
      getUsers:[],
      error:[]
    }
  },
  methods:{
  /*  btnSave(){
      this.getUsers.push({
        mid:this.mid,
        memail:this.memail,
        mpassword:this.mpassword,
        mphone:this.mphone,
        maddress:this.maddress,
        maccountType:this.maccountType
      })
      console.log("data mk hey: ",this.getUsers)
    }   */
     // Remove Data
      remove(id){
           const body = {
                 'Id':id,
                 };
          const token= "Bearer "+$cookies.get('token_key');
          console.log("My Token",token);
          confirm('Are you sure you want to delete Item? ' + 'This cannot be undone.', 'Warning', {
                  confirmButtonText: 'OK',
                  cancelButtonText: 'Cancel',
                  type: 'warning',
                  if(cancelButtonText='Cancel'){
                  }
                  }),
          	axios({
            	method: "POST",
            	url: "http://192.168.2.82:8888/api/users/delete",
              data:body,
            	headers: {
                  "Content-type": "application/json",
                  "Accept": "application/json",
                  "Authorization" : token,
              }
             })
            .then(result=>{
                     console.log("my date",result)
                    console.log($cookies.get('token_key'));
                        this.$toasted.show("Record have been Remove!!", { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        icon:'Loading',
                        color:'red'
                      });
                   })
	        .catch(e=>console.log("error: ",e))
    },
  
    bntAdd(){
           const body = {
                 'Email':this.memail,
                 'Password':this.mpassword,
                 'Phone':this.mphone,
                 'Age':this.mage,
                 'Address':this.maddress,
                 };
          const token= "Bearer "+$cookies.get('token_key');
          console.log("My Token",token);
          	axios({
            	method: "POST",
            	url: "http://192.168.2.82:8888/api/users/save",
              data:body,
            	headers: {
                "Content-type": "application/json",
                "Accept": "application/json",
                "Authorization" : token,
              }
             })
            .then(result=>{
                    console.log("my date",result)
                    console.log($cookies.get('token_key'));
                     this.$toasted.show("Record have been Add!!", { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        icon:'Loading',
                        color:'red'
                      });
                   })
	        .catch(e=>console.log("error: ",e))
    },

  // get data 

    btnSave(){
          const token= "Bearer " + $cookies.get('token_key');
          axios.get("http://192.168.2.82:8888/api/Users/get",
          {
              headers:{
                  'Content-Type': 'application/json',
                  'Accept':'application/json',
                  'Authorization': token
                }
          })
          .then(Response=>{
               this.getUsers=Response.data;
               console.log("data",Response.data);
              
               
          })
          .catch(e=>{
              this.error.push(e)
          })
               
    },


// Edit data
     edit(id){
        let token= "Bearer " + $cookies.get('token_key');
          const body = {
                 Id:id,
                 };
               	axios({
                        method: "POST",
                        url: "http://192.168.2.82:8888/api/Users/edit",
                        data:body,
                        headers:{
                            'Content-Type': 'application/json',
                            'Accept':'application/json',
                            'Authorization': token
                }
                      })
                      .then(result=>{
                        console.log("My Data",result)
                        
                        this.mid = result.data[0].id;
                        this.memail = result.data[0].email;
                        this.mpassword = result.data[0].password;
                        this.mphone = result.data[0].phone;
                        this.mage = result.data[0].age;
                        this.maddress = result.data[0].address;
                        this.mstatus = result.data[0].status;
                      })
                    .catch(e=>console.log("error: ",e))
                      },
                      submit(){
                            
                      }
          },
  mounted(){
     this.btnSave();
  },
  updated(){
    
  }
}
</script>
<style scope>
 h1{
           text-align:center;
           font-size: 20px;
       }
 #logout{
                float: left;
                margin-left: 50%;
                color:white;
            }
    
    
</style>



