<template>
  <div id="app">
    <router-view></router-view> 
  </div>
</template>
<script>
import Login from './components/Login.vue'
import PageHeading from './components/PageHeading.vue'
import Stafflist from './components/Stafflist.vue'
import Footer from './components/Footer.vue'
import Footer1 from './components/Footer1.vue'
import Slide from './components/Slide.vue' 
import Testlogin from './components/Testlogin.vue'
export default {
  name: 'App',
  components:{ Login,PageHeading,Stafflist,Footer,Footer1,Slide,Testlogin}
}
</script>

<style scope>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align:center;
  color: #2c3e50;
  margin-top: px;
  margin-bottom:0pxz;
  
}


</style>
